:root {
  /* Prymary */
  --cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  /* Neutral */
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

body {
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
}