.main {
  width: 60%;
}

.information-proyect {
  display: flex;
  justify-content: space-around;
}

.days,
.backers  {
  border-left: 1px solid rgba(122, 122, 122, .5);
  border-top: none;
  width: 30%;
  margin: 0 auto;
}

.information-proyect > div {
  margin: 20px 40px;
}

.information-proyect {
  padding: 20px;
}